---
import Layout from '../layouts/Layout.astro';
import Tarjetas from '../components/tarjetas.astro'

const TARJETAS =[
	{
		image:'/images/image-deep-earth.jpg',
		nombre:"DEEP EARTH"
	},
	{
		image:'/images/image-night-arcade.jpg',
		nombre:"NIGHT ARCADE"
	},
	{
		image:'/images/soccer.jpg',
		nombre:"SOCCER TEAM VR"
	},
	{
		image:'/images/image-grid.jpg',
		nombre:"THE GRID"
	},
	{
		image:'/images/image-from-above.jpg',
		nombre:"FROM UP ABOVE VR"
	},
	{
		image:'/images/image-pocket-borealis.jpg',
		nombre:"POCKET BOREALIS"
	},
	{
		image:'/images/image-curiosity.jpg',
		nombre:"THE CURIOSITY"
	},
	{
		image:'/images/image-fisheye.jpg',
		nombre:"MAKE IT FISHEYE"
	}
		
]
---

<Layout>
    <main class="relative w-full h-[75vh] overflow-hidden mb-15 xl:mb-32.5">
        <img src="/images/image-main.jpg" alt="Hero" class="absolute inset-0 w-full h-full object-cover z-0 brightness-60">
        
        <div class="relative flex items-center justify-center w-full h-full xl:justify-start xl:pl-[8%] xl:pt-[5%]">
            <div class="mt-15 w-[80%] border-2 border-white p-4 xl:p-[2%] xl:w-[45%]">
                <h2 class="text-white text-[45px] font-light leading-11.25 sm:text-[50px] sm:leading-12.5 xl:text-[63px] xl:leading-15">
                    IMMERSIVE <br> EXPERIENCES <br> THAT <br> DELIVER
                </h2>
            </div>
        </div>
    </main>

    <section class="w-full flex flex-col items-center gap-10 mb-17.5 lg:flex-row lg:items-end lg:gap-0">
        <img src="images/image-interactive.jpg" alt="Interactive VR" 
             class="w-[86%] md:w-[80%] lg:w-[50%] lg:translate-x-17.5 xl:w-[45%] xl:translate-x-31.25">
        
        <div class="w-full flex flex-col items-center gap-4 lg:w-[45%] lg:-translate-x-10 lg:bg-white lg:p-[40px_30px_0_40px] xl:p-[90px_40px_20px_40px]">
            <h2 class="w-[80%] text-[37px] text-black text-center leading-8.75 font-light sm:text-[43px] sm:leading-10.75 lg:text-[40px] xl:text-[60px] xl:leading-15">
                THE LEADER IN INTERACTIVE VR
            </h2>
            <p class="w-[80%] text-center text-[13px] text-[#505050] xl:text-[16px]">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, delectus asperiores optio officiis dicta, aspernatur rerum sed harum ullam voluptatum et accusantium sunt ea iusto a.
            </p>
        </div>
    </section>

    <section class="w-full mt-8 mb-25 xl:mt-33.75">
        <p class="mb-2 w-fit mx-auto text-center text-black py-2 px-8 text-[33px] font-light tracking-[4px] sm:text-[40px] xl:text-[53px]">
            OUR CREATIONS
        </p>
        
        <div class="mb-8 w-full flex flex-wrap justify-center gap-6 xl:gap-7.5">
            {TARJETAS.map((tarjeta) => (
                <Tarjetas src={tarjeta.image} titulo={tarjeta.nombre}/>
            ))}
        </div>

        <p class="border-2 border-[#1e1d1d] mb-2 w-fit mx-auto text-center text-[#1e1d1d] py-2 px-14 text-[16px] cursor-pointer hover:bg-black hover:text-white transition-colors xl:text-[20px] xl:px-21.5 xl:py-3">
            SEE ALL
        </p>
    </section>
</Layout>
