<div class="mt-10 w-full bg-[black] flex flex-col items-center gap-6">
    <img src="/images/WS2-logo.png" alt="" class="w-[40%]">
    <div class="flex gap-3">
        <img src="/images/icon-facebook.svg" alt="">
        <img src="/images/icon-instagram.svg" alt="">
        <img src="/images/icon-pinterest.svg" alt="">
        <img src="/images/icon-twitter.svg" alt="">
    </div>
    <p class="text-[#777676]">2026 WorldStudios. All rights reserved</p>
</div>