<nav class="bg-[white]fixed top-0 left-0 h-20 w-full flex justify-between items-center shadow-[0_8px_15px_rgba(14,20,72,0.5)]">
    <img src="/images/WS-logo.jpg" alt="" class="w-34">
    <div>
        <button  class="bg-[white] text-Black text-[15px] py-1.5 px-6 font-medium">Sign Up</button>
        <button class="bg-[#061043] text-white text-[15px] py-1.5 px-6 rounded-[35px] shadow-[0_8px_15px_rgba(14,20,72,0.5)]">Sign In</button>
    </div>
</nav>

<style>
    nav{
    }
</style>